.dark{
    background-color: var(--dark);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark input, .dark textarea{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark .text{color: var(--white);}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}

body{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 50%;
    height: 550px;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
aside, form{width: 50%;}
aside{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.text-field{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.text-field svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    fill: var(--green);
}
.input-field{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.input-field input{
    width: 100%;
}
form button:hover{
    cursor: pointer;
    transform: scale(1.05);
}