<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <aside>
            <img src="../../../../assets/svg/login.svg" alt="login-svg">
        </aside>

        <form [formGroup]="loginForm">
            <h3> Inicio de sesion </h3>

            <p class="text"> Escribe tus datos para continuar </p>

            <div class="text-field">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 4.5v15H3v-15h18ZM21 3H3a1.5 1.5 0 0 0-1.5 1.5v15A1.5 1.5 0 0 0 3 21h18a1.5 1.5 0 0 0 1.5-1.5v-15A1.5 1.5 0 0 0 21 3Z"></path>
                    <path d="M9.75 7.5H4.5V9h5.25V7.5Z"></path>
                    <path d="M7.5 10.5h-3V12h3v-1.5Z"></path>
                    <path d="M17.25 13.5h-4.5a2.25 2.25 0 0 0-2.25 2.25v1.5H12v-1.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v1.5h1.5v-1.5a2.25 2.25 0 0 0-2.25-2.25Z"></path>
                    <path d="M15 12.75a3 3 0 1 0 0-5.999 3 3 0 0 0 0 5.999Zm0-4.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"></path>
                </svg>
                <span class="text">RPE, Correo o Celular:</span>
            </div>

            <div class="input-field">
                <input type="text" name="username" class="input-form" formControlName="Username">
            </div>

            <div class="text-field">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.75 15.959V14.25a3 3 0 0 0-6 0v1.709A1.496 1.496 0 0 0 15 17.25V21a1.502 1.502 0 0 0 1.5 1.5H21a1.502 1.502 0 0 0 1.5-1.5v-3.75a1.496 1.496 0 0 0-.75-1.291Zm-3-3.209a1.502 1.502 0 0 1 1.5 1.5v1.5h-3v-1.5a1.502 1.502 0 0 1 1.5-1.5ZM16.5 21v-3.75H21V21h-4.5Z"></path>
                    <path d="M3 1.5H1.5v3H3v-3Z"></path>
                    <path d="M12 1.5h-1.5v3H12v-3Z"></path>
                    <path d="M15 1.5h-1.5v3H15v-3Z"></path>
                    <path d="M3 6H1.5v6H3V6Z"></path>
                    <path d="M3 13.5H1.5v6H3v-6Z"></path>
                    <path d="M12 13.5h-1.5v6H12v-6Z"></path>
                    <path d="M6 6H4.5v6H6V6Z"></path>
                    <path d="M15 6h-1.5v4.5H15V6Z"></path>
                    <path d="M7.5 19.5H6A1.502 1.502 0 0 1 4.5 18v-3A1.502 1.502 0 0 1 6 13.5h1.5A1.502 1.502 0 0 1 9 15v3a1.502 1.502 0 0 1-1.5 1.5ZM6 15v3h1.5v-3H6Z"></path>
                    <path d="M10.5 12H9a1.502 1.502 0 0 1-1.5-1.5v-3A1.502 1.502 0 0 1 9 6h1.5A1.502 1.502 0 0 1 12 7.5v3a1.502 1.502 0 0 1-1.5 1.5ZM9 7.5v3h1.5v-3H9Z"></path>
                    <path d="M7.5 4.5H6A1.502 1.502 0 0 1 4.5 3V1.5H6V3h1.5V1.5H9V3a1.502 1.502 0 0 1-1.5 1.5Z"></path>
                </svg>
                <span class="text">Contraseña:</span>
            </div>

            <div class="input-field">
                <input type="password" name="password" class="input-form" formControlName="Password">
            </div>

            <button class="btn-text" (click)="verifyForm()"> Ingresar </button>
        </form>
    </main>
</body>