@media (min-width: 250px) and (max-width: 400px){
    body{min-height: auto; padding: 20px 0;}
    main{width: 90%;}
    main, aside, form{height: 500px;}
    aside{display: none;}
    form{width: 100%; padding: 0 10px;} 
    .input-field, .text-field{width: 90%;}
 }
 @media (min-width: 400px) and (max-width: 500px){
     body{min-height: auto; padding: 20px 0;}
     main{width: 80%;}
     main, aside, form{height: 500px;}
     aside{display: none;}
     form{width: 100%; padding: 0 10px;} 
     .input-field, .text-field{width: 80%;}
 }
 @media (min-width: 500px) and (max-width: 600px){
     body{min-height: auto; padding: 20px 0;}
     main{width: 70%;}
     main, aside, form{height: 500px;}
     aside{display: none;}
     form{width: 100%; padding: 0 10px;} 
     .input-field, .text-field{width: 80%;}
 }
 @media (min-width: 600px) and (max-width: 700px){
     body{min-height: auto; padding: 20px 0;}
     main{width: 60%;}
     main, aside, form{height: 500px;}
     aside{display: none;}
     form{width: 100%; padding: 0 10px;} 
     .input-field, .text-field{width: 80%;}
 }
 @media (min-width: 700px) and (max-width: 800px){
     main{width: 60%;}
     main, aside, form{height: 500px;}
     aside{display: none;}
     form{width: 100%; padding: 0 10px;} 
     .input-field, .text-field{width: 80%;}
 }
 @media (min-width: 800px) and (max-width: 1000px){
     main{width: 90%;}
 }
 @media (min-width: 1000px) and (max-width: 1200px){
     main{width: 80%;}
 }
 @media (min-width: 1200px) and (max-width: 1400px){
     main{width: 70%;}
 }
 @media (min-width: 1400px) and (max-width: 1600px){
     main{width: 60%;}
 }