.dark{
    background-color: var(--dark) !important;
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input, .dark textarea, .dark select{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}


body{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

form > span{
    margin: 20px 0;
}

.input-field{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.input-field input, .input-field textarea{
    width: 100%;
    margin-top: 20px;
}
.input-field textarea{
    min-height: 150px;
}
.input-field p{
    font-weight: bold;
}
.input-field span{
    color: var(--green);
}
.btn-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

::ng-deep mat-datepicker-toggle{
    position: absolute;
    margin-top: 45px !important;
    padding: 0 !important;
}

/* Fondo del calendario */
::ng-deep .mat-calendar{
    background-color: var(--white);
}
/* Fuente */
::ng-deep .mat-calendar td, ::ng-deep .mat-calendar span{ 
    font-weight: bold;
}
/* Icono */
::ng-deep button svg{
    fill: var(--green);
}
::ng-deep .mat-calendar-body-selected {
    background-color: var(--green) !important;
}
::ng-deep .mat-focus-indicator:hover {
    background-color: var(--green)  !important;
}
::ng-deep  .mat-calendar-body-today {
    background-color: var(--green)  !important;
}
::ng-deep  .mat-calendar-body-selected {
    background-color: var(--green)  !important;
    color: black !important;
}
::ng-deep .mat-calendar-body-cell-content .mat-focus-indicator {
    background-color: var(--green) !important;
}