<body [ngClass]="currentMode ? 'dark' : ''">
    <form [formGroup]="vehicleForm">
        <h3>Editar informacion</h3>
        <span class="text">
            Ingresa la nueva informacion acerca de la reparacion.
        </span>

        <div class="input-field">
            <p class="text">Presupuesto final: <span> * </span> </p>
            <input type="number" placeholder="Solo numeros, ej: 10000" class="input-form" formControlName="Presupuesto_Final">
        </div>

        <div class="input-field">
            <p class="text">Fecha final entrega: <span> * </span> </p>
            <input type="text" class="input-form" [matDatepicker]="picker" formControlName="Fecha_Entrega">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>

        <div class="btn-options">
            <button class="btn-text-alt" (click)="closeForm()">Cancelar</button>
            <button class="btn-text" (click)="updateRepair()">Guardar</button>
        </div>
    </form>
</body>