.dark{
    background-color: var(--dark);
    color: var(--white);
}

body{
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}
section{
    width: 100%;
    max-width: 200px;
    min-height: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
svg{
    width: 64px;
    height: 64px;
    fill: var(--green);
    animation: flipInX;
    animation-duration: 1s;
}
p{
    text-align: center;
    margin-top: 20px;
}