<body>
    <main [ngClass]="currentMode ? 'dark' : ''" #pdfContent>
        <h3>Estadisticas</h3>

        <article  id="pdfContent">
            <span class="text">Grafica 1. Reparaciones </span>
            <p class="text">Estado de las reparaciones en general</p>
            <canvas
            baseChart
            [type]="barChartType1"
            [data]="barChartData1"
            [labels]="barChartLabels1"
            [options]="barChartOptions1"
          ></canvas>
        </article>

        <article  id="secondChart">
            <span class="text">Grafica 2. Vehiculos sin taller</span>
            <p class="text">Vehiculos en espera de taller por departamento</p>
            <canvas baseChart
            [data]="barChartData2"
            [labels]="barChartLabels2"
            [options]="barChartOptions2"
            [type]="barChartType2">
            </canvas>
        </article>
    </main>

    <div class="download">
        <button class="btn-text" (click)="generatePDF()">Descargar PDF</button>
    </div>
    
</body>
