.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--green);
}

body{
    width: 100%;
    min-height: 90vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 60%;
    min-height: 20vh;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
article{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
article > p{
    margin-bottom: 20px;
    text-align: center;
}
article span{
    font-weight: bold;
    text-align: center;
}
.download{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media(min-width : 250px) and (max-width: 400px){
    main{width: 90%;}
    article{width: 80%;}
}
@media(min-width : 401px) and (max-width: 600px){
    main{width: 80%;}
    article{width: 40%;}
}
@media(min-width : 601px) and (max-width: 800px){
    main{width: 90%;}
    article{width: 80%;}
}
@media(min-width : 801px) and (max-width: 1000px){
    main{width: 80%;}
    article{width: 60%;}
}