<body>
    <main>
        <h3>Detalles taller</h3>

        <span class="text">Nombre del taller: </span>
        <p class="text"></p>

        <span class="text">Responsable: </span>
        <p class="text"></p>

        <span class="text">Celular: </span>
        <p class="text"></p>

        <span class="text">Correo: </span>
        <p class="text"></p>

        <span class="text">Direccion: </span>
        <p class="text"></p>

        <span class="text">Zona: </span>
        <p class="text"></p>

        <span class="text">Centro de trabajo: </span>
        <p class="text"></p>

        <div class="options">
            <button class="btn-text">Cerrar</button>
        </div>
        
    </main>
</body>