<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <aside>
            <img src="../../../../assets/svg/repair.svg" alt="" srcset="">
        </aside>

        <form [formGroup]="repairForm" enctype="multipart/form-data">
            <h3>Editar reparacion</h3>

            <span class="text">
                Ingresa la nueva informacion sobre el vehiculo, indica
                el taller a cargo de la reparacion y el presupuesto inicial.
            </span>

            <div class="input-field" >
                <p class="text">Taller: <span> * </span> </p>
                <select name="Id_Mecanico" class="input-form" formControlName="Id_Mecanico">
                    <option *ngFor="let workshop of workshops" value={{workshop._id}}>{{workshop.Nombre}}</option>
                </select>
            </div>

            <div class="input-field">
                <p class="text">Presupuesto inicial: <span> * </span> </p>
                <input type="number" placeholder="Solo numeros, ej: 10000" name="Presupuesto_Inicial" formControlName="Presupuesto_Inicial" class="input-form">
            </div>

            <div class="btn-options">
                <button class="btn-text-alt" (click)="backTable()">Cancelar</button>
                <button class="btn-text" (click)="editRepair()"> Guardar</button>
            </div>
        </form>
    </main>
</body>