.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input, .dark textarea, .dark select{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    padding: 20px 0;
}

main{
    width: 55%;
    min-height: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
aside{
    width: 50%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    width: 50%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
form > span{
    margin: 20px 0;
    text-align: center;
}
.input-field{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.input-field input, .input-field textarea{
    width: 100%;
    margin-top: 20px;
}
.input-field textarea{
    min-height: 150px;
}
.input-field span{
    color: var(--green);
}
.btn-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.input-field input[type="file"]{
    font-size: 0;
    padding: 0;
}
.input-field input[type="file"]::file-selector-button {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--white);
    font-size: 16px;
    padding: 0 12px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: var(--green); 
    background: -webkit-linear-gradient(to left, var(--green), var(--green-alt));
    background: linear-gradient(to left, var(--green), var(--green-alt));
}
.files{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--black);
}
.file-name {
    margin-right: 10px;
    color: var(--white);
    font-size: 12px;
}
.remove-file{
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-file svg{
    width: 20px;
    height: 20px;
    fill: var(--red)
}
.remove-file svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}
button:hover{
    cursor: pointer;
    transform: scale(1.01);
}

::ng-deep mat-datepicker-toggle{
    position: absolute;
    margin-top: 45px !important;
    padding: 0 !important;
}

/* Fondo del calendario */
::ng-deep .mat-calendar{
    background-color: var(--white);
}
/* Fuente */
::ng-deep .mat-calendar td, ::ng-deep .mat-calendar span{ 
    font-weight: bold;
}
/* Icono */
::ng-deep button svg{
    fill: var(--green);
}
::ng-deep .mat-calendar-body-selected {
    background-color: var(--green) !important;
}
::ng-deep .mat-focus-indicator:hover {
    background-color: var(--green)  !important;
}
::ng-deep  .mat-calendar-body-today {
    background-color: var(--green)  !important;
}
::ng-deep  .mat-calendar-body-selected {
    background-color: var(--green)  !important;
    color: black !important;
}
::ng-deep .mat-calendar-body-cell-content .mat-focus-indicator {
    background-color: var(--green) !important;
}

@media(min-width: 250px) and (max-width: 400px){
    main{width: 90%;}
    aside{display: none;}
    form{width: 100%;}
    .input-field input[type="file"]::file-selector-button { font-size: 12px; }
    .file-name{ font-size: 10px; }
}
@media(min-width: 401px) and (max-width: 600px){
    main{width: 80%;}
    aside{display: none;}
    form{width: 100%;}
    .input-field{width: 90%;}
    .input-field input[type="file"]::file-selector-button { font-size: 12px; }
    .file-name{ font-size: 10px; }
}
@media(min-width: 601px) and (max-width: 800px){
    main{width: 90%;}
    input-field input[type="file"]::file-selector-button { font-size: 14px; }
}
@media(min-width: 801px) and (max-width: 1000px){
    main{width: 80%;}
    input-field input[type="file"]::file-selector-button { font-size: 14px; }
}
@media(min-width: 1001px) and (max-width: 1200px){
    main{width: 70%;}
    input-field input[type="file"]::file-selector-button { font-size: 14px; }
}
@media(min-width: 1201px) and (max-width: 1400px){
    main{width: 60%;}
    input-field input[type="file"]::file-selector-button { font-size: 14px; }
}