<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <aside>
            <img src="../../../../assets/svg/repair.svg" alt="" srcset="">
        </aside>

        <form [formGroup]="repairForm" enctype="multipart/form-data">
            <h3>Nueva reparacion</h3>

            <span class="text">Ingresa la informacion sobre el vehiculo a reparar.</span>

            <div class="input-field">
                <p class="text">Placas del vehiculo: <span> * </span> </p>
                <input type="text" name="Placas_Vehiculo" class="input-form" formControlName="Placas_Vehiculo">
            </div>

            <div class="input-field">
                <p class="text">Diagnostico previo: <span> * </span> </p>
                <textarea name="Diagnostico_Previo" 
                cols="30" rows="10" 
                formControlName="Diagnostico_Previo" 
                placeholder="Describe la falla mecanica que presenta el vehiculo, cualquier detalle para ayudar al taller a reconocer cual podria ser el problema mecanico.">
                </textarea>
            </div>

            <div class="input-field">
                <p class="text">Fecha de la falla: <span> * </span> </p>
                <input type="text" class="input-form" formControlName="Fecha_Problema" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="input-field">
                <p class="text">Imagenes del vehiculo: <span> * </span> </p>
                <input type="file" id="files" (change)="onFileChange($event)" multiple name="Imagenes_Vehiculo" class="input-form" formControlName="Imagenes_Vehiculo">
            </div>

            <div class="files" *ngFor="let file of files; let i = index">
                <span class="file-name">{{ file.name }}</span>
                <span class="remove-file" (click)="removeFile(i)">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 7.05 16.95 6 12 10.95 7.05 6 6 7.05 10.95 12 6 16.95 7.05 18 12 13.05 16.95 18 18 16.95 13.05 12 18 7.05Z"></path>
                    </svg>
                </span>
            </div>

            <div class="btn-options">
                <button class="btn-text-alt" (click)="backTable()">Cancelar</button>
                <button class="btn-text" (click)="addRepair()"> Guardar</button>
            </div>
        </form>
    </main>
</body>