<body [ngClass]="currentMode ? 'dark' : ''">
    
    <section>
        <svg  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1.5a10.5 10.5 0 1 0 0 21 10.5 10.5 0 0 0 0-21ZM12 21a9 9 0 1 1 0-18 9 9 0 0 1 0 18Z"></path>
            <path d="M12.75 6h-1.5v8.25h1.5V6Z"></path>
            <path d="M12 16.5a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z"></path>
        </svg>
        <p class="text"> ¿Estás seguro? </p>
        <div class="btn-options">
            <button class="btn-text-alt" (click)="cancel()"> No </button>
            <button class="btn-text" (click)="delete()"> Si </button>
        </div>
    </section>

</body>