.dark{
    background-color: var(--dark);
    color: var(--white);
}

body{
    min-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
}
section{
    width: 100%;
    min-height: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
svg{
    width: 64px;
    height: 64px;
    fill: var(--green);
    animation: flipInX;
    animation-duration: 1s;
}
p{
    text-align: center;
    margin-top: 20px;
}
.btn-options{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
button{
    width: 50px;
}
.btn-options button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn-options .btn-text{
    background-color: var(--red);
}

