.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark select{
    background-color: var(--black);
    color: var(--white);
}
.dark header{ background-color: var(--black); }
.dark table header h4{color: var(--white);}
.dark table .register p{ color: var(--white);}
.dark input{
    background-color: var(--black);
    color: var(--white);
}
.dark .search svg{background-color: var(--black);}

body{
    width: 100%;
    min-height: 90vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
main{
    width: 95%;
    padding: 20px;
    min-height: 20vh;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
nav .search{
    width: 15%;
    margin-right: 8px;
}
nav .filters{
    display: flex;
    align-items: center;
}
nav .filters select{
    margin-right: 8px;
}
nav .filters button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

table{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
table header{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--light);
}
table header h4{
    padding: 4px;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
}
table .register{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--light);
}
table .register p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.taller{width: 15%;}
.responsable{width: 15%;}
.celular{width: 10%;}
.correo{width: 15%;}
.direccion{width: 25%;}
.zona{width: 8%;}
.trabajo{width: 8%;}
.opciones{width: 4%;}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.pagination button{
    margin: 0 10px;
}
.disabled-button {
    opacity: 0.5; 
    cursor: not-allowed !important;
    /* Otros estilos para el botón deshabilitado */
}

@media (min-width: 250px) and (max-width: 400px){
    main{ width: 90%; }
    nav{ flex-direction: column; }
    nav .search{ width: 100%; margin-bottom: 20px;}
    nav .filters{width: 100%; justify-content: space-between;}
    table header h4, table .register p{font-size: 12px;}

    .taller{width: 75%;}
    .opciones{width: 25%;}
    .celular, .responsable, .correo, .direccion, .zona, .trabajo{display: none;}
}
@media (min-width: 401px) and (max-width: 600px){
    main{ width: 90%; }
    nav .search{width: 50%;}
    table header h4, table .register p{font-size: 12px;}

    .taller{width: 50%;}
    .celular{width: 30%;}
    .opciones{width: 20%;}
    .direccion , .responsable, .correo, .zona, .trabajo{display: none;}
}
@media (min-width: 601px) and (max-width: 800px){
    main{ width: 95%; }
    nav .search{width: 35%;}
    table header h4, table .register p{font-size: 14px;}

    .taller {width: 30%;}
    .celular{width: 20%;}
    .opciones{width: 10%;}
    .direccion{width: 40%;}
    .responsable, .correo, .trabajo, .zona{display: none;}
}
@media (min-width: 801px) and (max-width: 1000px){
    main{ width: 95%; }
    nav .search{width: 25%;}
    table header h4{ font-size: 16px; }
    table .register p{font-size: 14px;}

    .taller {width: 20%;}
    .responsable{width: 20%;}
    .celular{width: 15%;}
    .opciones{width: 10%;}
    .direccion{width: 35%;}
    .zona, .trabajo, .correo{display: none;}
}
@media (min-width: 1001px) and (max-width: 1200px){
    main{ width: 95%; }
    nav .search{width: 20%;}
    table header h4{ font-size: 16px; }
    table .register p{font-size: 14px;}

    .taller {width: 20%;}
    .responsable{width: 15%;}
    .celular{width: 12.5%;}
    .opciones{width: 7.5%;}
    .direccion{width: 25%;}
    .correo{width: 25%;}
    .zona, .trabajo{display: none;}
}
@media (min-width: 1201px) and (max-width: 1600px){
    main{ width: 95%; }
    nav .search{width: 20%;}
    table header h4{ font-size: 16px; }
    table .register p{font-size: 14px;}

    .taller {width: 13%;}
    .responsable{width: 13%;}
    .celular{width: 8%;}
    .opciones{width: 5%;}
    .direccion{width: 25%;}
    .zona{width: 8%;}
    .correo{width: 20%;}
    .trabajo{width: 8%;}
}
