@media (min-width: 300px) and (max-width: 400px) {
    main{ width: 90%; }
    nav{ flex-direction: column; }
    nav .search{ width: 100%; margin-bottom: 20px;}
    nav .filters{width: 100%; justify-content: space-between;}
    thead tr th, tbody tr td{font-size: 12px;}
}
@media (min-width: 401px) and (max-width: 500px) {
    main{ width: 90%; }
    nav{ flex-direction: column; }
    nav .search{ width: 100%; margin-bottom: 20px;}
    nav .filters{width: 100%; justify-content: space-between;}
    thead tr th, tbody tr td{font-size: 12px;}
}
@media (min-width: 501px) and (max-width: 600px) {
    main{ width: 90%; }
    nav{ flex-direction: column; }
    nav .search{ width: 100%; margin-bottom: 20px;}
    nav .filters{width: 100%; justify-content: space-between;}
    thead tr th, tbody tr td{font-size: 12px;}
}
@media (min-width: 601px) and (max-width: 700px) {
    main{ width: 90%; }
    nav .search{ width: 50%; }
    thead tr th, tbody tr td{font-size: 12px;}
}
@media (min-width: 701px) and (max-width: 800px) {
    main{ width: 90%; }
    nav .search{ width: 40%; }
    thead tr th, tbody tr td{font-size: 14px;}
}
@media (min-width: 801px) and (max-width: 900px) {
    main{ width: 90%; }
    nav .search{ width: 35%; }
    thead tr th, tbody tr td{font-size: 14px;}
}
@media (min-width: 901px) and (max-width: 1000px) {
    main{ width: 90%; }
    nav .search{ width: 35%; }
    thead tr th, tbody tr td{font-size: 14px;}
}
@media (min-width: 1001px) and (max-width: 1200px) {
    main{ width: 95%; }
    nav .search{ width: 30%; }
    thead tr th, tbody tr td{font-size: 14px;}
}
@media (min-width: 1201px) and (max-width: 1300px) {
    main{ width: 95%; }
    nav .search{ width: 30%; }
    thead tr th, tbody tr td{font-size: 14px;}
}
@media (min-width: 1301px) and (max-width: 1400px) {
    main{ width: 95%; }
    nav .search{ width: 25%; }
}
@media (min-width: 1401px) and (max-width: 1500px) {
    main{ width: 95%; }
    nav .search{ width: 20%; }
}