<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <h3>Vehiculos registrados</h3>

        <nav>
            <div class="search">
                <input type="text" name="buscador" class="input-small" placeholder="Placas, Economico o No. serie" [(ngModel)]="search_value" (input)="search()">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
                </svg>
            </div>

            <div class="filters">
                <button class="btn-text-small" (click)="addVehicle()"> Nuevo </button>
            </div>
        </nav>

        <div class="vehicles">
            <table>
                <thead>
                    <tr>
                        <th class="small">No</th>
                        <th class="small">Opc</th>
                        <th class="small">Estatus</th>
                        <th class="small">Placas</th>
                        <th class="large">Economico</th>
                        <th class="large">Telefono</th>
                        <th class="small">RPE</th>
                        <th class="large">Responsable</th>
                        <th class="large">No. Activo</th>
                        <th class="large">Dias descanso</th>
                        <th class="large">Division</th>
                        <th class="large">Zona</th>
                        <th class="large">Departamento</th>
                        <th class="large">Area</th>
                        <th class="large">Centro</th>

                        <th class="large">Financiamiento</th>
                        <th class="large">Marca Chasis</th>
                        <th class="large">Submarca chasis</th>
                        <th class="small">Modelo chasis</th>
                        <th class="large">Numero de serie</th>

                        <th class="large">Marca hidraulico</th>
                        <th class="large">Submarca hidraulico</th>
                        <th class="large">Modelo hidraulico</th>

                        <th class="large">Tipo chasis</th>
                        <th class="large">Tipo hidraulico</th>
                        <th class="small">Traccion</th>
                        <th class="large">Combustible</th>
                        <th class="large">Uso</th>
                        <th class="large">Estatus en MYASP</th>
                        <th class="large">Ubicacion</th>
                        <th class="large">Verificacion</th>
                        <th class="large">Problema</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let vehicle of vehicles; let i = index;">
                        <td class="small">{{ (currentPage - 1) * 50 + (i + 1) }}</td>
                        <div class="opciones small">
                            <button class="btn-icon-delete" (click)="deleteVehicle(vehicle._id)">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="eliminar">
                                    <path d="M10.5 9H9v9h1.5V9Z"></path>
                                    <path d="M15 9h-1.5v9H15V9Z"></path>
                                    <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
                                    <path d="M15 1.5H9V3h6V1.5Z"></path>
                                </svg>
                            </button>
                            <button class="btn-icon" (click)="editVehicle(vehicle._id)">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.05 6.75c.6-.6.6-1.5 0-2.1l-2.7-2.7c-.6-.6-1.5-.6-2.1 0L3 13.2V18h4.8L19.05 6.75ZM15.3 3 18 5.7l-2.25 2.25-2.7-2.7L15.3 3ZM4.5 16.5v-2.7L12 6.3 14.7 9l-7.5 7.5H4.5Z"></path>
                                </svg>
                            </button>
                        </div>
                        <td class="small">
                            <span [ngClass]="{
                                'taller' : vehicle.Estatus_Vehiculo === 'Taller',
                                'servicio' : vehicle.Estatus_Vehiculo === 'En servicio',
                                'descompuesto' : vehicle.Estatus_Vehiculo === 'Descompuesto'
                            }">
                            </span>
                        </td>
                        <td class="small">{{vehicle.Placas_Vehiculo}}</td>
                        <td class="large">{{vehicle.Economico_Vehiculo}}</td>
                        <td class="large" *ngIf="vehicle.Telefono_Encargado === '0'">-</td>
                        <td class="large" *ngIf="vehicle.Telefono_Encargado !== '0'">{{vehicle.Telefono_Encargado}}</td>
                        <td class="small">{{vehicle.RPE_Resguardante}}</td>
                        <td class="large">{{vehicle.Nombre_Resguardante}}</td>
                        <td class="large">{{vehicle.Numero_Activo}}</td>
                        <td class="large">{{vehicle.Dias_Descanso}}</td>
                        <td class="large">{{vehicle.Division}}</td>
                        <td class="large">{{vehicle.Zona}}</td>
                        <td class="large">{{vehicle.Departamento_Vehiculo}}</td>
                        <td class="large">{{vehicle.Area}}</td>
                        <td class="large">{{vehicle.Centro_Trabajo}}</td>

                        <td class="large">{{vehicle.Financiamiento_Vehiculo}}</td>
                        <td class="large">{{vehicle.Marca_Chasis}}</td>
                        <td class="large">{{vehicle.Submarca_Chasis}}</td>
                        <td class="small">{{vehicle.Modelo_Chasis}}</td>
                        <td class="large">{{vehicle.Numero_Serie_Chasis}}</td>

                        <td class="large">{{vehicle.Marca_Hidraulico}}</td>
                        <td class="large">{{vehicle.Submarca_Hidraulico}}</td>
                        <td class="large">{{vehicle.Modelo_Hidraulico}}</td>

                        <td class="large">{{vehicle.Tipo_Chasis}}</td>
                        <td class="large">{{vehicle.Tipo_Hidraulico}}</td>
                        <td class="small">{{vehicle.Traccion_Vehiculo}}</td>
                        <td class="large">{{vehicle.Combustible_Vehiculo}}</td>
                        <td class="large">{{vehicle.Uso_Vehiculo}}</td>
                        <td class="large">{{vehicle.Estatus_MYSAP_Vehiculo}}</td>
                        <td class="large">{{vehicle.Ubicacion_Fisica_Vehiculo}}</td>
                        <td class="large">{{vehicle.Verificacion_Vehiculo}}</td>
                        <td class="large">{{vehicle.Problema_Verificacion_Vehiculo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <button class="btn-text" (click)="previousPage()" [ngClass]="isPreviousDisabled()">Ant</button>
            <button class="btn-text-alt">{{currentPage}}</button>
            <button class="btn-text" (click)="nextPage()" [ngClass]="isNextDisabled()">Sig</button>
        </div>
    </main>
</body>