.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark select{
    background-color: var(--black);
    color: var(--white);
}
.dark thead th, .dark thead{ background-color: var(--black); color: var(--white);}
.dark table tbody td{color: var(--white);}
.dark table .register p{ color: var(--white);}
.dark input{
    background-color: var(--black);
    color: var(--white);
}
.dark .search svg{background-color: var(--black);}
.dark ::-webkit-scrollbar-thumb {
    background-color: var(--green); 
}
::-webkit-scrollbar {
    width: 6px;  
    height: 8px;             /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background-color: var(--black);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
}

body{
    width: 100%;
    max-width: 100%;
    min-height: 90vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
main{
    width: 95%;
    padding: 20px;
    min-height: 20vh;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
nav .search{
    width: 25%;
    margin-right: 8px;
}
nav .filters{
    display: flex;
    align-items: center;
}
nav .filters select{
    margin-right: 8px;
}
nav .filters button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.vehicles{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    padding: 4px;
    font-size: 14px;
}
td span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
td .servicio{ background-color: var(--green); }
td .taller{ background-color: var(--yellow); }
td .descompuesto{ background-color: var(--red);}
.opciones{
    display: flex;
    align-items: center;
    justify-content: center;
}
tr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
thead{
    background-color: var(--light);
}
th.no{
    border-radius: 8px 0 0 0;
}
th.opciones{
    border-radius: 0 8px 0 0;
}
tbody tr{
    border-bottom: 2px solid var(--light);
}
.small{
    min-width: 80px !important;
    width: 80px !important;
    max-width: 80px !important;
}
.large{
    min-width: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.pagination button{
    margin: 0 10px;
}
.disabled-button {
    opacity: 0.5; 
    cursor: not-allowed !important;
    /* Otros estilos para el botón deshabilitado */
}