.dark aside{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark svg{background-color: var(--black) !important;}
.dark .text{color: var(--white);}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}

body{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 20px;
}
aside{
    width: 25%;
    min-height: 20vh;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    padding: 20px 20px 12px 20px;
}
aside .search{margin-bottom: 20px;}
aside .departments{
    width: 100%;
}
aside .departments span{
    color: var(--green);
}
aside .departments p{
    margin-bottom: 8px;
}
aside .departments span:hover{ cursor: pointer; text-decoration: underline;}
main{
    width: 70%;
}
.all{
    width: 100%;
    text-align: center;
}
.all:hover{
    cursor: pointer;
    color: var(--green) !important;
    text-decoration: underline;
}

@media (min-width: 250px) and (max-width: 400px){
    body{flex-direction: column; justify-content: flex-start; align-items: center;}
    aside{width: 90%; margin-bottom: 20px;}
    main{width: 90%;}
}
@media (min-width: 400px) and (max-width: 600px){
    body{flex-direction: column; justify-content: flex-start; align-items: center;}
    aside{width: 80%; margin-bottom: 20px;}
    main{width: 80%;}
}
@media (min-width: 600px) and (max-width: 800px){
    body{flex-direction: column; justify-content: flex-start; align-items: center;}
    aside{width: 70%; margin-bottom: 20px;}
    main{width: 70%;}
}
@media (min-width: 800px) and (max-width: 1000px){
    body{flex-direction: column; justify-content: flex-start; align-items: center;}
    aside{width: 60%; margin-bottom: 20px;}
    main{width: 60%;}
}
@media (min-width: 1000px) and (max-width: 1200px){
    aside{width: 30%;}
    main{width: 65%;}
}