<body  [ngClass]="currentMode ? 'dark' : ''">
    <aside>

        <div class="search">
            <input type="text" name="buscador" class="input-large" placeholder="Buscar por placas" [(ngModel)]="searchValue" (input)="onSearchInputChange()">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
            </svg>
        </div>

        <div class="departments" *ngFor="let departamento of departmentsData; let i = index;">
           <span class="text" (click)="setDepartment(departamento._id)">{{departamento._id}}</span>
           <p class="text">{{departamento.count}} publicacion</p>
        </div>
        <p class="text all" (click)="allPosts()">Ver todos</p>
    </aside>

    <main>
        <app-empty-posts *ngIf="stateFeed == 'vacio'"></app-empty-posts>
        <app-chat-vehicle></app-chat-vehicle>
    </main>
</body>