@media (min-width: 250px) and (max-width: 400px){
    main{width: 90%;}
    ::ng-deep .mat-step-header .mat-step-text-label{
        display: none;
    }
    ::ng-deep mat-stepper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .input-field{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .input-field input, .input-field .day-checkboxes,  .input-field textarea, .input-field select{ width: 100%; }
    .input-field p {width: 100%; margin-bottom: 10px;}
    .btn-options{width: 100%; margin-top: 10px;}
}
@media (min-width: 401px) and (max-width: 600px){
    main{width: 80%;}
    ::ng-deep .mat-step-header .mat-step-text-label{
        display: none;
    }
    ::ng-deep mat-stepper {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .input-field{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .input-field input, .input-field .day-checkboxes, .input-field textarea, .input-field select{ width: 100%; }
    .input-field p {width: 100%; margin-bottom: 10px;}
    .btn-options{width: 100%; margin-top: 10px;}
}
@media (min-width: 601px) and (max-width: 800px){
    main{width: 80%;}
    ::ng-deep .mat-step-header .mat-step-text-label{
        font-size: 12px;
    }
    ::ng-deep mat-stepper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .input-field{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .input-field input,.input-field .day-checkboxes,  .input-field textarea, .input-field select{ width: 100%; }
    .input-field p {width: 100%; margin-bottom: 10px;}
    .btn-options{width: 100%; margin-top: 10px;}
}
@media (min-width: 801px) and (max-width: 1000px){
    main{width: 85%;}
    ::ng-deep .mat-step-header .mat-step-text-label{
        font-size: 12px;
    }
    ::ng-deep mat-stepper {
        max-width: 100%;
        width: 90%;
    }
}
@media (min-width: 1001px) and (max-width: 1200px){
    main{width: 75%;}
    ::ng-deep .mat-step-header .mat-step-text-label{
        font-size: 14px;
    }
    ::ng-deep mat-stepper {
        max-width: 100%;
        width: 90%;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    main{width: 65%;}
    ::ng-deep mat-stepper {
        max-width: 100%;
        width: 90%;
    }
}
@media (min-width: 1401px) and (max-width: 1600px){
    ::ng-deep mat-stepper {
        max-width: 100%;
        width: 90%;
    }
}