<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <section>
            <h3>Editar vehiculo</h3>
            <span class="text">
                Escribe la nueva informacion correspondiente al vehiculo para editar el registro
            </span>

            <mat-stepper [linear]="isLinear" #stepper class="custom-stepper" labelPosition="bottom">

                <mat-step [stepControl]="departmentForm" [completed]="false">
                    <form [formGroup]="departmentForm">

                        <ng-template matStepLabel class="text">
                            Departamento
                        </ng-template>

                        <div class="input-field">
                            <p class="text">Economico: <span> * </span> </p>
                            <input type="text" name="Economico_Vehiculo" class="input-form" formControlName="Economico_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Telefono: <span> * </span> </p>
                            <input type="text" name="Telefono_Encargado" class="input-form" formControlName="Telefono_Encargado">
                        </div>
                        
                        <div class="input-field">
                            <p class="text">RPE Resguardante: <span> * </span> </p>
                            <input type="text" name="RPE_Resguardante" class="input-form" formControlName="RPE_Resguardante">
                        </div>

                        <div class="input-field">
                            <p class="text">Nombre Resguardante: <span> * </span> </p>
                            <input type="text" name="Nombre_Resguardante" class="input-form" formControlName="Nombre_Resguardante">
                        </div>

                        <div class="input-field">
                            <p class="text">Numero Activo: <span> * </span> </p>
                            <input type="text" name="Numero_Activo" class="input-form" formControlName="Numero_Activo">
                        </div>

                        <div class="input-field">
                            <p class="text">Division: <span> * </span> </p>
                            <input type="text" name="Division" class="input-form" formControlName="Division">
                        </div>

                        <div class="input-field">
                            <p class="text">Zona: <span> * </span> </p>
                            <input type="text" name="Zona" class="input-form" formControlName="Zona">
                        </div>

                        <div class="input-field">
                            <p class="text">Departamento: <span> * </span> </p>
                            <select name="Departamento_Vehiculo" formControlName="Departamento_Vehiculo" class="input-form">
                                <option value="Administracion">Administracion</option>
                                <option value="ASCMT">ASCMT</option>
                                <option value="Distribucion">Distribucion</option>
                                <option value="Gestion comercial">Gestion comercial</option>
                                <option value="ISC">ISC</option>
                                <option value="Medicion">Medicion</option>
                                <option value="Planeacion y construccion">Planeacion y construccion</option>
                                <option value="Subestaciones">Subestaciones</option>
                                <option value="Superintendencia">Superintendencia</option>
                                <option value="Trabajo">Trabajo</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <p class="text">Area: <span> * </span> </p>
                            <input type="text" name="Area" class="input-form" formControlName="Area">
                        </div>

                        <div class="input-field">
                            <p class="text">Centro Trabajo: <span> * </span> </p>
                            <input type="text" name="Centro_Trabajo" class="input-form" formControlName="Centro_Trabajo">
                        </div>

                        <div class="btn-options">
                            <button class="btn-text-alt" (click)="backTable()"> Cancelar </button>
                            <button class="btn-text" matStepperNext> Siguiente </button>
                        </div>
                    
                    </form>
                </mat-step>

                <mat-step [stepControl]="vehicleForm" [completed]="false">
                    <form [formGroup]="vehicleForm">

                        <ng-template matStepLabel class="text">
                            Vehiculo
                        </ng-template>

                        <div class="input-field">
                            <p class="text">Financiamiento: <span> * </span> </p>
                            <select name="Financiamiento_Vehiculo" formControlName="Financiamiento_Vehiculo" class="input-form">
                                <option value="Propio">Propio</option>
                                <option value="Arrendado">Arrendado</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <p class="text">Días descanso: <span> * </span> </p>
                            <div class="day-checkboxes">
                              <div *ngFor="let day of days; let i = index;">
                                <input
                                  type="checkbox"
                                  id="{{day}}"
                                  name="dias"
                                  value="{{daysValue[i]}}"
                                  (change)="toggleDay(daysValue[i])"
                                  [checked]="selectedDays.includes(daysValue[i])"
                                />
                                <label for="{{day}}"></label>
                                <span>{{day}}</span>
                              </div>
                            </div>
                        </div>

                        <div class="input-field">
                            <p class="text">Placas: <span> * </span> </p>
                            <input type="text" name="Placas_Vehiculo" class="input-form" formControlName="Placas_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Traccion: <span> * </span> </p>
                            <input type="text" name="Traccion_Vehiculo" class="input-form" formControlName="Traccion_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Combustible: <span> * </span> </p>
                            <input type="text" name="Combustible_Vehiculo" class="input-form" formControlName="Combustible_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Uso: <span> * </span> </p>
                            <input type="text" name="Uso_Vehiculo" class="input-form" formControlName="Uso_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Estatus: <span> * </span> </p>
                            <select name="Estatus_Vehiculo" formControlName="Estatus_Vehiculo" class="input-form">
                                <option value="Taller">En Taller</option>
                                <option value="Descompuesto">Descompuesto</option>
                                <option value="En servicio">En servicio</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <p class="text">Estatus MYSAP: <span> * </span> </p>
                            <select name="Estatus_MYSAP_Vehiculo" formControlName="Estatus_MYSAP_Vehiculo" class="input-form">
                                <option value="Taller">En Taller</option>
                                <option value="Descompuesto">Descompuesto</option>
                                <option value="En servicio">En servicio</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <p class="text">Ubicacion Fisica <span> * </span> </p>
                            <input type="text" name="Ubicacion_Fisica_Vehiculo" class="input-form" formControlName="Ubicacion_Fisica_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Verificacion: <span> * </span> </p>
                            <input type="text" name="Verificacion_Vehiculo" class="input-form" formControlName="Verificacion_Vehiculo">
                        </div>

                        <div class="input-field">
                            <p class="text">Problema Verificacion: <span> * </span> </p>
                            <textarea class="input-form" formControlName="Problema_Verificacion_Vehiculo" name="Problema_Verificacion_Vehiculo" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div class="btn-options">
                            <button class="btn-text-alt" matStepperPrevious> Anterior </button>
                            <button class="btn-text" matStepperNext> Siguiente </button>
                        </div>
                    
                    </form>
                </mat-step>

                <mat-step [stepControl]="chasisForm" [completed]="false">
                    <form [formGroup]="chasisForm">

                        <ng-template matStepLabel class="text">
                            Chasis
                        </ng-template>

                        <div class="input-field">
                            <p class="text">Marca del Chasis: <span> * </span> </p>
                            <input type="text" name="Marca_Chasis" class="input-form" formControlName="Marca_Chasis">
                        </div>

                        <div class="input-field">
                            <p class="text">Submarca de Chasis: <span> * </span> </p>
                            <input type="text" name="Submarca_Chasis" class="input-form" formControlName="Submarca_Chasis">
                        </div>

                        <div class="input-field">
                            <p class="text">Modelo de Chasis (Año): <span> * </span> </p>
                            <input type="text" name="Modelo_Chasis" class="input-form" formControlName="Modelo_Chasis">
                        </div>

                        <div class="input-field">
                            <p class="text">Numero de Serie: <span> * </span> </p>
                            <input type="text" name="Serie_Chasis" class="input-form" formControlName="Numero_Serie_Chasis">
                        </div>

                        <div class="input-field">
                            <p class="text">Tipo de Chasis: <span> * </span> </p>
                            <select name="Tipo_Chasis" formControlName="Tipo_Chasis" class="input-form">
                                <option value="Camion">Camion</option>
                                <option value="Grua">Grua</option>
                                <option value="Monta cargas<">Monta cargas</option>
                                <option value="Moto">Moto</option>
                                <option value="Pick up">Pick up</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Van de carga">Van de carga</option>
                                <option value="Van de pasajeros">Van de pasajeros</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <p class="text">Marca del Hidraulico: <span> * </span> </p>
                            <input type="text" name="Marca_Hidraulico" class="input-form" formControlName="Marca_Hidraulico">
                        </div>

                        <div class="input-field">
                            <p class="text">Tipo de Hidraulico: <span> * </span> </p>
                            <input type="text" name="Tipo_Hidraulico" class="input-form" formControlName="Tipo_Hidraulico">
                        </div>

                        <div class="input-field">
                            <p class="text">Submarca del Hidraulico: <span> * </span> </p>
                            <input type="text" name="Submarca_Hidraulico" class="input-form" formControlName="Submarca_Hidraulico">
                        </div>

                        <div class="input-field">
                            <p class="text">Modelo del Hidraulico (Año): <span> * </span> </p>
                            <input type="text" name="Modelo_Hidraulico" class="input-form" formControlName="Modelo_Hidraulico">
                        </div>

                        <div class="btn-options">
                            <button class="btn-text-alt" matStepperPrevious> Anterior </button>
                            <button class="btn-text" (click)="getForms()"> Guardar </button>
                        </div>

                    </form>
                </mat-step>

            </mat-stepper>

        </section>
    </main>
</body>