.dark{background-color: var(--dark);}
.dark .action-buttons button{
    background-color: var(--black);
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
}
.dark .action-buttons button svg{fill: var(--green);}

header{
    z-index: 100;
    width: 100%;
    position: fixed;
}
main{
    padding-top: 60px;
    width: 100%;
}
main .action-buttons{
    position: fixed;
    float: left;
    top: 50%;
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .action-buttons button{ 
    background-color: var(--white);
    border-radius: 4px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
main .action-buttons button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
main .action-buttons button svg{fill: var(--green);}
main .action-buttons .toggle-mode{
    margin: 8px 0;
}