<body [ngClass]="currentMode ? 'dark' : ''">
  
  <header>
    <app-menu></app-menu>
  </header>

  <main>
    <div class="action-buttons">
      <button class="btn-icon" (click)="scrollTop()">
          <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="m12 3-7.5 7.5 1.058 1.057 5.692-5.685V21h1.5V5.872l5.692 5.685L19.5 10.5 12 3Z"></path>
          </svg>
      </button>

      <button class="btn-icon toggle-mode" (click)="colorMode()">
          <svg *ngIf="!currentMode" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.127 4.06a11.306 11.306 0 0 0 8.695 13.646 8.335 8.335 0 0 1-5.981 2.542c-.104 0-.209.004-.313 0a8.32 8.32 0 0 1-2.4-16.188Zm1.108-1.81a.753.753 0 0 0-.13.012 9.822 9.822 0 0 0 1.368 19.486c.123.005.246 0 .368 0a9.805 9.805 0 0 0 8.026-4.167.757.757 0 0 0-.587-1.173 9.81 9.81 0 0 1-8.363-13.123.76.76 0 0 0-.682-1.035Z"></path>
          </svg>
          <svg *ngIf="currentMode" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0-1.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9Z"></path>
              <path d="m5.105 4.049-1.06 1.06 2.63 2.63 1.06-1.06-2.63-2.63Z"></path>
              <path d="M5.25 11.25H1.5v1.5h3.75v-1.5Z"></path>
              <path d="m6.674 16.27-2.63 2.628 1.061 1.061 2.63-2.63-1.06-1.06Z"></path>
              <path d="M12.75 18.75h-1.5v3.75h1.5v-3.75Z"></path>
              <path d="m17.325 16.268-1.06 1.06 2.629 2.63 1.06-1.061-2.629-2.63Z"></path>
              <path d="M22.5 11.25h-3.75v1.5h3.75v-1.5Z"></path>
              <path d="m18.894 4.05-2.63 2.63 1.061 1.06 2.63-2.63-1.061-1.06Z"></path>
              <path d="M12.75 1.5h-1.5v3.75h1.5V1.5Z"></path>
          </svg>
      </button>

      <button class="btn-icon" (click)="scrollBottom()">
          <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="m18.442 12.443-5.692 5.685V3h-1.5v15.128l-5.692-5.685L4.5 13.5 12 21l7.5-7.5-1.058-1.057Z"></path>
          </svg>
      </button>
  </div>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>

</body>