<body>
    <main [ngClass]="currentMode ? 'dark' : ''">

        <h3> Vehiculos en reparacion </h3>

        <nav>
            <div class="search">
                <input type="text" name="buscador" class="input-small" placeholder="Buscar por taller" [(ngModel)]="search_value" (input)="search()">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
                </svg>
            </div>

            <div class="filters">
                <button class="btn-text-small" (click)="addRepair()"> Nuevo </button>
            </div>
        </nav>

        <div class="repairs">
            <table>
                <thead>
                    <tr>
                        <th class="small"> No </th>
                        <th class="medium"> Estatus </th>
                        <th class="large"> Vehiculo </th>
                        <th class="large"> Diagnostico </th>
                        <th class="large"> Taller </th>
                        <th class="medium">Fecha falla</th>
                        <th class="medium"> Fecha taller</th>
                        <th class="medium"> Fecha entrega </th>
                        <th class="small"> Opc </th>
                    </tr>
                </thead>
    
                <tbody *ngFor="let repair of repairsData; let i = index;">
                    <tr>
                        <td class="small">{{ (currentPage - 1) * 2 + (i + 1) }}</td>
                        <td class="medium" (click)="detailsRepair(repair._id)"> En proceso </td>
                        <td class="large">{{vehiclesData[i].Marca_Chasis}} {{vehiclesData[i].Submarca_Chasis}} {{vehiclesData[i].Modelo_Chasis}}</td>
                        <td class="large"> {{repair.Diagnostico_Previo}} </td>
                        <td class="large"> {{workshopsData[i]?.Nombre}} </td>
                        <td class="medium"> {{repair.Fecha_Problema}} </td>
                        <td class="medium"> {{repair.Fecha_Taller}} </td>
                        <td class="medium"> {{repair.Fecha_Entrega}} </td>
                        <div class="opciones small">
                            <button class="btn-icon-delete" (click)="deleteRepairAndPost(repair._id, vehiclesData[i].Placas_Vehiculo, workshopsData[i]?._id)">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="eliminar">
                                    <path d="M10.5 9H9v9h1.5V9Z"></path>
                                    <path d="M15 9h-1.5v9H15V9Z"></path>
                                    <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
                                    <path d="M15 1.5H9V3h6V1.5Z"></path>
                                </svg>
                            </button>
                            <button class="btn-icon" (click)="editRepair(repair._id)">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.05 6.75c.6-.6.6-1.5 0-2.1l-2.7-2.7c-.6-.6-1.5-.6-2.1 0L3 13.2V18h4.8L19.05 6.75ZM15.3 3 18 5.7l-2.25 2.25-2.7-2.7L15.3 3ZM4.5 16.5v-2.7L12 6.3 14.7 9l-7.5 7.5H4.5Z"></path>
                                </svg>
                            </button>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <button class="btn-text" (click)="previousPage()" [ngClass]="isPreviousDisabled()">Ant</button>
            <button class="btn-text-alt">{{currentPage}}</button>
            <button class="btn-text" (click)="nextPage()" [ngClass]="isNextDisabled()">Sig</button>
        </div> 

    </main>
</body>