<body>
    <main [ngClass]="currentMode ? 'dark' : ''"> 
        <h3> {{workshopData[0]?.Nombre}} </h3>

        <span class="text">Vehiculos en proceso de reparacion</span>

        <nav>
            <div class="search">
                <input type="text" class="input-small" placeholder="Marca o modelo" [(ngModel)]="search_value" (input)="search()">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
                </svg>
            </div>
        </nav>

        <section>
            <div class="card" *ngFor="let repair of repairsData; let i = index;">
                <img src="http://localhost:3900/api/v1/cfe/uploads/{{repair.Carpeta_Documentos}}/reparacion{{repair.Fecha}}/{{repair.Files[0]}}" alt="vehicle-img">
                <span class="text">
                    {{vehiclesData[i]?.Marca_Chasis}}
                    {{vehiclesData[i]?.Submarca_Chasis}}
                    {{vehiclesData[i]?.Modelo_Chasis}}
                </span>

                <button class="btn-text-small" (click)="detailsRepair(repair._id)">Ver mas</button>
            </div>
        </section>
    </main>
</body>