.dark{
    color: var(--white);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark .card{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark select{
    background-color: var(--black);
    color: var(--white);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark input, .dark svg{
    background-color: var(--black);
    color: var(--white);
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 90vh;
    padding: 20px 0;
}
main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
main > .text{width: 100%; text-align: center; margin-top: 20px;}
main nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
main nav select{margin-left: 8px;}
main .search{width: 25%;}
section{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
section .card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
    box-shadow:
    -5px -5px 5px #aeaec040,
    5px 5px 5px #aeaec040;
}
.card img{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.card span{
    font-weight: bold;
    margin: 8px 8px;
    min-height: 50px;
    text-align: center;
}
.card button{
    margin-bottom: 8px;
}
.card button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media (min-width: 250px) and (max-width: 500px){
    main{width: 90%;}
    main nav{flex-direction: column; align-items: flex-end;}
    main nav select{margin-top: 20px;}
    main nav .search{width: 100%;}
    section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
}
@media (min-width: 501px) and (max-width: 700px){
    main{width: 90%;}
    main nav .search{width: 50%;}
    section{ grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 701px) and (max-width: 1000px){
    main{width: 90%;}
    main nav .search{width: 40%;}
    section{ grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1001px) and (max-width: 1200px){
    main{width: 90%;}
    main nav .search{width: 30%;}
}