footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: var(--green); 
    background: -webkit-linear-gradient(to left, var(--green), var(--green-alt));
    background: linear-gradient(to left, var(--green), var(--green-alt));
}
footer p{
    text-align: center;
    color: var(--white);
}
