<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <aside>
            <img src="../../../../assets/svg/admin.svg" alt="workshop-svg">
        </aside>

        <form [formGroup]="userForm">
            <h3>Registrar nuevo usuario</h3>

            <span class="text">Ingresa la informacion correspondiente al usuario</span>

            <div class="input-field">
                <p class="text">Tipo: <span> * </span> </p>
                <select name="Cuenta" formControlName="Cuenta" class="input-form">
                    <option value="Administrador">Administrador</option>
                    <option value="Jefe">Jefe departamento</option>
                </select>
            </div>

            <div class="input-field">
                <p class="text">Departamento: <span> * </span> </p>
                <select name="Departamento" formControlName="Departamento" class="input-form">
                    <option value="Administracion">Administracion</option>
                    <option value="ASCMT">ASCMT</option>
                    <option value="Distribucion">Distribucion</option>
                    <option value="Gestion comercial">Gestion comercial</option>
                    <option value="ISC">ISC</option>
                    <option value="Medicion">Medicion</option>
                    <option value="Planeacion y construccion">Planeacion y construccion</option>
                    <option value="Subestaciones">Subestaciones</option>
                    <option value="Superintendencia">Superintendencia</option>
                    <option value="Trabajo">Trabajo</option>
                </select>
            </div>

            <div class="input-field">
                <p class="text">Nombre: <span> * </span> </p>
                <input type="text" name="Nombre" class="input-form" formControlName="Nombre">
            </div>

            <div class="input-field">
                <p class="text">RPE: <span> * </span> </p>
                <input type="text" name="RPE" class="input-form" formControlName="RPE">
            </div>

            <div class="input-field">
                <p class="text">Celular: <span> * </span> </p>
                <input type="text" name="Celular" class="input-form" formControlName="Celular">
            </div>

            <div class="input-field">
                <p class="text">Correo: <span> * </span> </p>
                <input type="text" name="Correo" class="input-form" formControlName="Email">
            </div>

            <div class="input-field">
                <p class="text">Contraseña: <span> * </span> </p>
                <input type="password" name="Password" class="input-form" formControlName="Password" autocomplete="current-password">
            </div>

            <div class="btn-options">
                <button class="btn-text-alt" (click)="backTable()">Cancelar</button>
                <button class="btn-text" (click)="addUser()"> Guardar</button>
            </div>

        </form>
    </main>
</body>