.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input, .dark textarea, .dark select{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}

body{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 15px;
    padding: 20px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
aside{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}
form h3, form span{margin-bottom: 20px; width: 100%; text-align: center;}
form .input-field{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;

    flex-direction: row;
}
form .input-field p{
    width: 40%;
}
form .input-field p span{color: var(--green); font-weight: bold;}
.input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select{
    width: 60%;
}
.btn-options{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}