@media (min-width: 250px) and (max-width: 400px){
    body{padding: 20px 0;}
    main{width: 90%;}
    aside{display: none;}
    form{width: 100%;}
    form .input-field{flex-direction: column;}
    form .input-field p{width: 100%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select{width: 100%; margin-top: 20px;}
    form .btn-options{width: 100%;}
}
@media (min-width: 401px) and (max-width: 600px){
    body{padding: 20px 0;}
    main{width: 80%; align-items: center; justify-content: center;}
    aside{display: none;}
    form{width: 90%;}
    form .input-field{flex-direction: column;}
    form .input-field p{width: 100%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select{width: 100%; margin-top: 20px;}
    form .btn-options{width: 100%;}
}
@media (min-width: 601px) and (max-width: 800px){
    body{padding: 20px 0;}
    main{width: 80%; align-items: center; justify-content: center;}
    aside{display: none;}
    form{width: 100%;}
    form .input-field p{width: 40%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select{width: 60%; }
    form .btn-options{width: 100%;}
}
@media (min-width: 801px) and (max-width: 1000px){
    body{padding: 20px 0;}
    main{width: 90%;}
    form .input-field{justify-content: space-between;}
    form .input-field p{ width: 30%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select, form .btn-options{ width: 65%;}
}
@media (min-width: 1001px) and (max-width: 1200px){
    body{padding: 20px 0;}
    main{width: 90%;}
    form .input-field{justify-content: space-between;}
    form .input-field p{ width: 35%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select, form .btn-options{ width: 60%;}
}
@media (min-width: 1201px) and (max-width: 1400px){
    body{padding: 20px 0;}
    main{width: 80%;}
    form .input-field{justify-content: space-between;}
    form .input-field p{ width: 35%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select, form .btn-options{ width: 60%;}
}
@media (min-width: 1401px) and (max-width: 1600px){
    body{padding: 20px 0;}
    main{width: 70%;}
    form .input-field{justify-content: space-between;}
    form .input-field p{ width: 35%;}
    .input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select, form .btn-options{ width: 60%;}
}