<body>
    <main [ngClass]="currentMode ? 'dark' : ''" *ngFor="let post of postsData; let i = index;">
        <header>
            <div class="autor-publicacion">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 12 3Zm0-1.5A5.25 5.25 0 1 0 12 12a5.25 5.25 0 0 0 0-10.5Z"></path>
                    <path d="M19.5 22.5H18v-3.75A3.75 3.75 0 0 0 14.25 15h-4.5A3.75 3.75 0 0 0 6 18.75v3.75H4.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
                </svg>
                <span class="text"> {{adminsData[i].Nombre}}</span>
            </div>
            <p class="fecha"> {{post.Fecha_Publicacion}} </p>
        </header>

        <article>
            <p class="text">
                {{post.Contenido_Publicacion}}
            </p>
            <div class="imgs-vehiculo" >
                <img *ngFor="let image of post.files; let k = index;" src="http://localhost:3900/api/v1/cfe/uploads/{{post.Carpeta_Documentos}}/reparacion{{post.Fecha_Publicacion}}/{{post.files[k]}}" alt="img-vehicle">
            </div>
        </article>

        <div class="contador">
            <p class="text"> Respuestas </p>
            <span class="text"> {{post.Comentarios.length }} </span>
        </div>

        <div class="respuestas" *ngFor="let comment of post.Comentarios; let j = index;">
            <header>
                <div class="autor-respuesta">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 12 3Zm0-1.5A5.25 5.25 0 1 0 12 12a5.25 5.25 0 0 0 0-10.5Z"></path>
                        <path d="M19.5 22.5H18v-3.75A3.75 3.75 0 0 0 14.25 15h-4.5A3.75 3.75 0 0 0 6 18.75v3.75H4.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
                    </svg>
                    <span class="text"> {{commentsData[i][j]}} </span>
                </div>
                <p class="fecha"> {{comment.Fecha}}</p>
            </header>

            <div class="contenido-respuesta">
                <p class="text">
                    {{comment.Contenido}}
                </p>
            </div>
        </div>

        <div class="agregar-respuesta">
            <input type="text" name="" class="input-form" placeholder="Escribe un comentario" [(ngModel)]="respuestas[i]">
            <button class="btn-icon" (click)="addComment(i, post._id)">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.782 3.218a.75.75 0 0 0-.787-.172l-16.5 6a.75.75 0 0 0 0 1.402l6.442 2.573 4.755-4.77 1.058 1.057-4.778 4.778 2.58 6.442a.75.75 0 0 0 .698.473.75.75 0 0 0 .69-.495l6-16.5a.75.75 0 0 0-.158-.788Z"></path>
                </svg>
            </button>
        </div>

    </main>

    <div class="pagination">
        <button class="btn-text" (click)="previousPage()" [ngClass]="isPreviousDisabled()">Ant</button>
        <button class="btn-text-alt">{{currentPage}}</button>
        <button class="btn-text" (click)="nextPage()" [ngClass]="isNextDisabled()">Sig</button>
    </div>
</body>