@media (min-width: 250px) and (max-width: 400px){
    .agregar-respuesta input{width: 90%;}
    .agregar-respuesta button{width: 10%;}
    header .fecha{font-size: 12px; margin: 0px 0 0 24px;}
    header{
        align-items: flex-start;
        flex-direction: column;
    }
    article p{margin: 8px 0;}
    .imgs-vehiculo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
    .contador{margin-top: 0px;}
    .respuestas header{
        margin-top: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 401px) and (max-width: 600px){
    .agregar-respuesta input{width: 90%;}
    .agregar-respuesta button{width: 10%;}
    header .fecha{font-size: 12px; margin: 0px 0 0 24px;}
    header{
        align-items: flex-start;
        flex-direction: column;
    }
    article p{margin: 12px 0;}
    .imgs-vehiculo{
        width: 100%;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
    .contador{margin-top: 0px;}
    .respuestas header{
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .agregar-respuesta input{width: 92%;}
    .agregar-respuesta button{width: 7.5%;}
    header .fecha{font-size: 12px; margin: 0px 0 0 24px;}
    header{
        align-items: flex-start;
        flex-direction: column;
    }
    article p{margin: 12px 0;}
    .imgs-vehiculo{
        width: 100%;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
    .contador{margin-top: 0px;}
    .respuestas header{
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 801px) and (max-width: 1000px){
    .agregar-respuesta input{width: 92%;}
    .agregar-respuesta button{width: 7.5%;}
    header .fecha{font-size: 12px; margin: 0px 0 0 24px;}
    header{
        align-items: flex-start;
        flex-direction: column;
    }
    article p{margin: 12px 0;}
    .imgs-vehiculo{
        width: 100%;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
    .contador{margin-top: 0px;}
    .respuestas header{
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 1001px) and (max-width: 1200px){
    .imgs-vehiculo{
        width: 100%;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    .imgs-vehiculo{
        width: 80%;
    }
    .imgs-vehiculo img{
        width: 100%;
        min-height: auto;
        height: auto;
        max-height: 300px;
        margin-bottom: 8px;
    }
}