.dark{
    background-color: var(--dark);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark input{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}
.dark header svg{fill: var(--white);}
.dark span{color: var(--green);}
.dark .fecha, .dark .contenido-respuesta p, .dark article p{color: var(--white);}
.dark .contador span{color: var(--white);}
.dark .contador p{color: var(--green);}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
main{
    width: 100%;
    min-height: 300px;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    margin-bottom: 20px;
    padding: 20px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.autor-publicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.autor-publicacion span{
    margin: 0 4px;
    font-weight: bold;
}
header .fecha{
    font-size: 16px;
    color: var(--green);
}
article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article p{
    width: 100%;
    text-align: start;
    margin: 20px 0;
}
.imgs-vehiculo{
    width: 70%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.imgs-vehiculo img{
    width: 100%;
    min-height: 200px;
    height: 250px;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
}
.contador{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.contador p, .contador span{font-weight: bold;}
.contador span{
    color: var(--green);
    margin-left: 4px;
}
.respuestas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.respuestas header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 0 0 0px;
}
.respuestas header .autor-respuesta{
    display: flex;
    align-items: center;
}
.respuestas header .autor-respuesta span{
    margin: 0 4px;
    font-weight: bold;
}
.respuestas .contenido-respuesta{
    width: 100%;
    margin: 8px 0 0 0px;
}
.agregar-respuesta{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.agregar-respuesta input{
    width: 95%;
}
.agregar-respuesta button{
    width: 5%;
}
.agregar-respuesta button svg{
    width: 24px;
    height: 24px;
}
.agregar-respuesta button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.pagination{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination button{
    margin: 0 10px;
}
.disabled-button {
    opacity: 0.5; 
    cursor: not-allowed !important;
}