.dark{
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input, .dark textarea, .dark select{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark ::ng-deep mat-stepper {
    background-color: var(--dark);
}
.dark ::ng-deep .mat-step-header .mat-step-text-label{
    font-weight: normal;
    color: var(--green);
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus  {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}
body{
    width: 100%;
    min-height: 90vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 55%;
    min-height: 20vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section h3{
    padding: 20px;
}
section > span{padding: 0 20px 20px; text-align: center;}
form{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}
.input-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}
.input-field p{
    width: 45%;
}
.input-field .day-checkboxes, .input-field input, .input-field textarea, .input-field select{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-options{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
::ng-deep mat-stepper {
    max-width: 100%;
    width: 80%;
}
::ng-deep .mat-step-header .mat-step-text-label{
    font-weight: bold;
    font-size: 16px;
}
::ng-deep .mat-step-header { padding: 20px !important;}
::ng-deep .mat-step-header .mat-step-icon-selected { background-color: var(--green) !important;}
::ng-deep .mat-step-header .mat-step-icon { 
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .mat-stepper-vertical-line::before{ background-color: var(--green);}
.time-line p{
    margin-bottom: 5px;
}
:host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
}

.input-field .day-checkboxes div{
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input[type="checkbox"]:checked + label {
    color:var(--green);
    font-weight: bold;
}