<header>

    <nav>
        <img src="../../../../assets/svg/cfe.svg" alt="cfe-logo">
    </nav>

    <ul *ngIf="isAuthenticated">
        <li routerLink="seccion/feed/publicaciones" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.46 1.66a.757.757 0 0 0-.933 0L.75 10.065l.932 1.178L3 10.216V19.5A1.503 1.503 0 0 0 4.5 21h15a1.503 1.503 0 0 0 1.5-1.5v-9.277l1.318 1.027.932-1.179-10.79-8.41ZM13.5 19.5h-3v-6h3v6Zm1.5 0v-6a1.502 1.502 0 0 0-1.5-1.5h-3A1.502 1.502 0 0 0 9 13.5v6H4.5V9.046L12 3.204l7.5 5.85V19.5H15Z"></path>
            </svg>
            <a>Inicio</a>
        </li>

        <li *ngIf="userType === 'Administrador' || userType === 'Jefe'" routerLink="administrador/ver-reparaciones" routerLinkActive="menu-active">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.686 18.378 3.192-3.192-1.06-1.061-3.193 3.193-.595-.595a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l2.25 2.25a.749.749 0 0 0 1.06 0l3-3a.75.75 0 0 0 0-1.06l-.594-.595ZM3.75 21.443l-1.19-1.19 1.94-1.94 1.19 1.19-1.94 1.94Z"></path>
                <path d="M18 22.5a4.505 4.505 0 0 1-4.5-4.5c0-.392.054-.782.158-1.16L7.16 10.342a4.482 4.482 0 0 1-5.343-5.98l.418-1.066L4.72 5.78a.768.768 0 0 0 1.06 0 .75.75 0 0 0 0-1.06L3.295 2.234l1.068-.418a4.483 4.483 0 0 1 5.979 5.344l6.498 6.498a4.48 4.48 0 0 1 5.343 5.98l-.418 1.066-2.485-2.484a.767.767 0 0 0-1.06 0 .75.75 0 0 0 0 1.06l2.484 2.485-1.066.418A4.47 4.47 0 0 1 18 22.5ZM7.547 8.607l7.846 7.846-.18.457a2.982 2.982 0 0 0 2.6 4.084l-.654-.653a2.25 2.25 0 0 1 0-3.182 2.304 2.304 0 0 1 3.182 0l.653.654a2.983 2.983 0 0 0-4.084-2.6l-.457.18-7.845-7.846.18-.457a2.982 2.982 0 0 0-2.6-4.084l.653.653a2.25 2.25 0 0 1 0 3.182 2.304 2.304 0 0 1-3.182 0l-.653-.653A2.981 2.981 0 0 0 7.09 8.787l.457-.18Z"></path>
                <path d="M21.842 2.137a2.304 2.304 0 0 0-3.182 0l-5.61 5.61 1.06 1.061 5.61-5.61a.768.768 0 0 1 1.061 0 .752.752 0 0 1 0 1.06l-5.61 5.61 1.06 1.061 5.61-5.61a2.252 2.252 0 0 0 0-3.182Z"></path>
            </svg>
            <a>Reparaciones</a>
        </li>

        <li *ngIf="userType === 'Administrador' || userType === 'Jefe'" routerLink="administrador/ver-vehiculos" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m22.44 12.457-2.25-5.25a.75.75 0 0 0-.69-.457h-2.25v-1.5a.75.75 0 0 0-.75-.75H2.25a.75.75 0 0 0-.75.75V18a.75.75 0 0 0 .75.75h1.605a3 3 0 0 0 5.79 0h4.71a3 3 0 0 0 5.79 0h1.605a.75.75 0 0 0 .75-.75v-5.25c0-.1-.02-.2-.06-.293ZM17.25 8.25h1.755L20.61 12h-3.36V8.25ZM6.75 19.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm7.605-2.25h-4.71a3 3 0 0 0-5.79 0H3V6h12.75v9.42a3 3 0 0 0-1.395 1.83Zm2.895 2.25a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM21 17.25h-.855A3 3 0 0 0 17.25 15v-1.5H21v3.75Z"></path>
            </svg>
            <a>Vehiculos</a>
        </li>

        <li *ngIf="userType === 'Administrador' || userType === 'Jefe'" routerLink="administrador/ver-talleres" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.375 24a2.607 2.607 0 0 1-1.856-.769l-3.096-3.096a4.872 4.872 0 0 1-5.511-6.717l.44-1.005 3.118 3.117a.768.768 0 0 0 1.06 0 .749.749 0 0 0 0-1.06l-3.117-3.118 1.005-.44a4.872 4.872 0 0 1 6.718 5.51l3.095 3.097A2.625 2.625 0 0 1 21.375 24Zm-4.523-5.556 3.727 3.727a1.151 1.151 0 0 0 1.591 0 1.125 1.125 0 0 0 0-1.591l-3.727-3.727.141-.437a3.373 3.373 0 0 0-3.396-4.41l1.403 1.403a2.249 2.249 0 0 1 0 3.182 2.304 2.304 0 0 1-3.182 0l-1.404-1.404a3.372 3.372 0 0 0 4.41 3.398l.438-.141Z"></path>
                <path d="M18.75 3.75H16.5V3A1.504 1.504 0 0 0 15 1.5H9A1.504 1.504 0 0 0 7.5 3v.75H5.25a1.504 1.504 0 0 0-1.5 1.5V21a1.504 1.504 0 0 0 1.5 1.5h5.25V21H5.25V5.25H7.5V7.5h9V5.25h2.25V9h1.5V5.25a1.504 1.504 0 0 0-1.5-1.5ZM15 6H9V3h6v3Z"></path>
            </svg>
            <a>Talleres</a>
        </li>

        <li *ngIf="userType === 'Administrador'" routerLink="acceso/registro/crear-cuenta" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 8.25h3a.75.75 0 0 1 .75.75v1.5h-4.5V9a.75.75 0 0 1 .75-.75Z"></path>
                <path d="M18 7.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                <path d="M22.5 13.5h-9A1.502 1.502 0 0 1 12 12V3a1.502 1.502 0 0 1 1.5-1.5h9A1.502 1.502 0 0 1 24 3v9a1.502 1.502 0 0 1-1.5 1.5ZM13.5 3v9h9V3h-9Z"></path>
                <path d="M11.25 22.5h-1.5v-3a2.21 2.21 0 0 0-2.25-2.25h-3a2.208 2.208 0 0 0-2.25 2.25v3H.75v-3a3.713 3.713 0 0 1 3.75-3.75h3a3.714 3.714 0 0 1 3.75 3.75v3Z"></path>
                <path d="M6 8.25a2.25 2.25 0 1 1 0 4.5 2.25 2.25 0 0 1 0-4.5Zm0-1.5a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Z"></path>
              </svg>
            <a>Cuentas</a>
        </li>

        <li *ngIf="userType === 'Administrador' || userType === 'Jefe'" routerLink="administrador/informe-reparaciones" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.25 21v-9h-6v9h-3V9h-6v12H3V1.5H1.5V21A1.5 1.5 0 0 0 3 22.5h19.5V21h-2.25ZM9.75 10.5V15h-3v-4.5h3Zm9 3V18h-3v-4.5h3Z"></path>
                <path d="M17.09 10.5a1.49 1.49 0 0 1-.884-.29L8.404 4.49 6.182 7.5l-1.203-.895 2.235-3a1.498 1.498 0 0 1 2.062-.334L17.092 9l2.704-3.646L21 6.248l-2.703 3.646a1.502 1.502 0 0 1-1.207.606Z"></path>
            </svg>
            <a>Estadisticas</a>
        </li>

        <li *ngIf="userType === 'Taller'" routerLink="taller/vehiculos/vehiculos-en-reparacion" routerLinkActive="menu-active">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.686 18.378 3.192-3.192-1.06-1.061-3.193 3.193-.595-.595a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l2.25 2.25a.749.749 0 0 0 1.06 0l3-3a.75.75 0 0 0 0-1.06l-.594-.595ZM3.75 21.443l-1.19-1.19 1.94-1.94 1.19 1.19-1.94 1.94Z"></path>
                <path d="M18 22.5a4.505 4.505 0 0 1-4.5-4.5c0-.392.054-.782.158-1.16L7.16 10.342a4.482 4.482 0 0 1-5.343-5.98l.418-1.066L4.72 5.78a.768.768 0 0 0 1.06 0 .75.75 0 0 0 0-1.06L3.295 2.234l1.068-.418a4.483 4.483 0 0 1 5.979 5.344l6.498 6.498a4.48 4.48 0 0 1 5.343 5.98l-.418 1.066-2.485-2.484a.767.767 0 0 0-1.06 0 .75.75 0 0 0 0 1.06l2.484 2.485-1.066.418A4.47 4.47 0 0 1 18 22.5ZM7.547 8.607l7.846 7.846-.18.457a2.982 2.982 0 0 0 2.6 4.084l-.654-.653a2.25 2.25 0 0 1 0-3.182 2.304 2.304 0 0 1 3.182 0l.653.654a2.983 2.983 0 0 0-4.084-2.6l-.457.18-7.845-7.846.18-.457a2.982 2.982 0 0 0-2.6-4.084l.653.653a2.25 2.25 0 0 1 0 3.182 2.304 2.304 0 0 1-3.182 0l-.653-.653A2.981 2.981 0 0 0 7.09 8.787l.457-.18Z"></path>
                <path d="M21.842 2.137a2.304 2.304 0 0 0-3.182 0l-5.61 5.61 1.06 1.061 5.61-5.61a.768.768 0 0 1 1.061 0 .752.752 0 0 1 0 1.06l-5.61 5.61 1.06 1.061 5.61-5.61a2.252 2.252 0 0 0 0-3.182Z"></path>
            </svg>
            <a>Reparaciones</a>
        </li>

        <li routerLink="acceso/iniciar-sesion" (click)="logOut()">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 22.5h9A1.502 1.502 0 0 0 15 21v-2.25h-1.5V21h-9V3h9v2.25H15V3a1.502 1.502 0 0 0-1.5-1.5h-9A1.502 1.502 0 0 0 3 3v18a1.502 1.502 0 0 0 1.5 1.5Z"></path>
                <path d="m15.44 15.44 2.689-2.69H7.5v-1.5h10.629l-2.69-2.69L16.5 7.5 21 12l-4.5 4.5-1.06-1.06Z"></path>
            </svg>
            <a>Salir</a>
        </li>
    </ul>

</header>