header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: var(--green); 
    background: -webkit-linear-gradient(to left, var(--green), var(--green-alt));
    background: linear-gradient(to left, var(--green), var(--green-alt));
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img{
    margin-left: 8px;
    width: 60px;
    height: 60px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
ul li{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
ul li svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: var(--white);
}
ul li a{
    color: var(--white);
}
ul li:hover{
    cursor: pointer;
}
ul li:hover a{
    color: var(--black);
}
ul li:hover svg{
    fill: var(--black);
}
ul .menu-active {
    height: 55px;
    margin-top: 5px;
    border-bottom: 5px solid var(--black);
}

@media screen and (max-width: 400px){
    nav img{width: 50px; height: 50px;}
    ul li {padding: 0 4px;}
    ul li a{display: none;}
    ul li svg{margin: 0;}
}
@media screen and (max-width: 800px){
    nav img{width: 50px; height: 50px;}
    ul li a{display: none;}
    ul li svg{margin: 0;}
}
@media screen and (max-width: 1000px){
    nav img{width: 50px; height: 50px;}
    ul li {flex-direction: column; justify-content: center;}
    ul li svg{margin: 0; width: 20px; height: 20px;}
}
@media screen and (max-width: 1200px){
    nav img{width: 50px; height: 50px;}
    ul li {flex-direction: column; justify-content: center;}
    ul li svg{margin: 0;}
}