<body>
    <article [ngClass]="currentMode ? 'dark' : ''">
        <img src="../../../../assets/svg/empty.svg" alt="img-vehicle">
        <span class="text">Por el momento aun no hay publicaciones</span>
        <p class="text">Vuelve mas tarde</p>
    </article>
</body>