.dark{
    color: var(--white);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark .text{
    font-weight: lighter;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article{
    width: 100%;
    border-radius: 15px;
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article .text{
    font-weight: bold;
    text-align: center;
}
article img{
    width: 30%;
    max-height: 300px;
    margin-bottom: 20px;
}