.dark{
    background-color: var(--dark);
    color: var(--white);
}

body{
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
main h3{width: 100%; text-align: center;}
main span{margin-top: 20px; color: var(--green);}
main .text{
    word-break: break-all;
}
.options{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (min-width: 601px){
    body{min-width: 400px;}
}