<body [ngClass]="currentMode ? 'dark' : ''">
    <main *ngFor="let taller of workshop">
        <h3>Detalles taller</h3>

        <span class="text">Nombre del taller: </span>
        <p class="text">{{taller.Nombre}}</p>

        <span class="text">Responsable: </span>
        <p class="text">{{taller.Nombre_Responsable}}</p>

        <span class="text">Celular: </span>
        <p class="text">{{taller.Celular}}</p>

        <span class="text">Correo: </span>
        <p class="text">{{taller.Email}}</p>

        <span class="text">Direccion: </span>
        <p class="text">{{taller.Direccion}}</p>

        <span class="text">Zona: </span>
        <p class="text">{{taller.Zona}}</p>

        <span class="text">Centro de trabajo: </span>
        <p class="text">{{taller.Centro_Trabajo}}</p>

        <div class="options">
            <button class="btn-text" (click)="closeDetails()">Cerrar</button>
        </div>
        
    </main>
</body>