:root{
    --green: #008e60;
    --green-alt: #9abe26;
    --red: #bb0a21;
    --yellow : #f2e30f;

    --white: #ffffff;
    --light: #f0eff4ff;
    --black: #121212; 
    --dark: #272727;

    --shadow-light: #aeaec040;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Titulos */
h1,h2,h3,h4{ color: var(--green); text-align: center; letter-spacing: 1px;}
h1{font-size: 26px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{ font-size: 18px; font-weight: normal;}

/* Texto de parrafos */
.text{ font-size: 18px;}

/* Botones */
.btn-text{
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    padding: 0 12px;
    height: 30px;
    border-radius: 4px;
}
.btn-text-small{
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    padding: 0 6px;
    height: 26px;
    border-radius: 4px;
}
.btn-text-alt{
    background-color: transparent;
    color: var(--green);
    font-size: 16px;
    padding: 0 12px;
    height: 30px;
    border: 1px solid var(--green);
    border-radius: 4px;
}
.btn-icon{
    background-color: transparent;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-icon svg{fill: var(--green); width: 16px; height: 16px;}
.btn-icon-delete{
    background-color: transparent;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-icon-delete svg{fill: var(--red); width: 16px; height: 16px;}

/* Inputs */
.input-form{
    box-shadow: inset -1px -1px 10px var(--shadow-light), 
    inset 1px 1px 10px var(--shadow-light);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    padding: 0 8px ;
    border: none;
    outline: none;
    offset: none;
    height: 30px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search .input-large{
    width: 100%;
    background-color: var(--light);
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    padding: 0 8px ;
    border: none;
    outline: none;
    offset: none;
    height: 30px;
}
.search .input-small{
    width: 100%;
    background-color: var(--light);
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    padding: 0 8px;
    border: none;
    outline: none;
    offset: none;
    height: 26px;
}
.search svg{
    width: 18px;
    height: 18px;
    fill: var(--green);
    position: absolute;
    margin-right: 8px;
    background-color: var(--light);
}

/* Selects */
.filter{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background-color: var(--light);
    padding: 0 8px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    offset: none;
    outline: none;
    text-align: center;
    height: 26px;
}

/* Textarea */
textarea{
    box-shadow: inset -1px -1px 10px var(--shadow-light), 
    inset 1px 1px 10px var(--shadow-light);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    padding: 0 8px ;
    border: none;
    outline: none;
    offset: none;
    height: 30px;
    min-height: 30px;
    resize:vertical;
}

@media (min-width: 250px) and (max-width: 400px){
    h1{font-size: 20px;}
    h2{font-size: 18px;}
    h3{font-size: 16px;}

    .text, h4, .input-form, .btn-text, .search .input-large, .btn-text-small, .filter, textarea, .btn-text-alt{font-size: 12px;}
    .input-form, .btn-text, .search .input-large, textarea, .btn-text-alt{height: 28px; min-height: 28px;}

    .btn-text-small, .filter, .search .input-small{height: 24px;}
}
@media (min-width: 400px) and (max-width: 600px){
    h1{font-size: 22px;}
    h2{font-size: 20px;}
    h3{font-size: 18px;}

    .text, h4, .input-form, .search .input-large, textarea{font-size: 14px;}
    .btn-text, .btn-text-alt, .btn-text-small, .filter, .input-small{font-size: 12px;}

    .input-form, .btn-text, .search .input-large, textarea, .btn-text-alt{height: 28px; min-height: 28px;}
    .btn-text-small, .filter, .search .input-small{height: 24px;}
}
@media (min-width: 600px) and (max-width: 1000px){
    h1{font-size: 24px;}
    h2{font-size: 22px;}
    h3{font-size: 20px;}

    .text, h4, .input-form, .btn-text, .search .input-large, textarea{font-size: 16px;}
    .btn-text, .btn-text-alt{font-size: 14px;}
    .btn-text-small, .filter, .search .input-small{font-size: 12px;}

    .input-form, .btn-text, .search .input-large, textarea, .btn-text-alt{height: 28px; min-height: 28px;}
    .btn-text-small, .filter, .search .input-small{height: 24px;}
}