<body [ngClass]="currentMode ? 'dark' : ''">
    <form [formGroup]="formStep" enctype="multipart/form-data">
        <h3>Agregar nueva etapa</h3>

        <span class="text">
            Ingresa la informacion acerca de la etapa
        </span>

        <div class="input-field">
            <p class="text">Titulo de la etapa: <span> * </span> </p>
            <input type="text" class="input-form" formControlName="Titulo_Etapa">
        </div>

        <div class="input-field">
            <p class="text">Descripcion de la etapa: <span> * </span> </p>
            <textarea
                cols="30" rows="10" 
                formControlName="Descripcion_Etapa"
            >
            </textarea>
        </div>

        <div class="input-field">
            <p class="text">Imagenes del vehiculo: <span> * </span> </p>
            <input type="file" id="files" (change)="onFileChange($event)" multipleclass="input-form" formControlName="Imagenes_Etapa">
        </div>

        <div class="files" *ngFor="let file of files; let i = index">
            <span class="file-name">{{ file.name }}</span>
            <span class="remove-file" (click)="removeFile(i)">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 7.05 16.95 6 12 10.95 7.05 6 6 7.05 10.95 12 6 16.95 7.05 18 12 13.05 16.95 18 18 16.95 13.05 12 18 7.05Z"></path>
                </svg>
            </span>
        </div>

        <div class="btn-options">
            <button class="btn-text-alt" (click)="closeForm()">Cancelar</button>
            <button class="btn-text" (click)="getForm()">Guardar</button>
        </div>

    </form>
</body>