.dark{
    background-color: var(--dark) !important;
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
    color: var(--white);
}
.dark input, .dark textarea, .dark select{
    background-color: var(--black) !important;
    box-shadow: inset -1px -1px 10px var(--black), 
    inset 1px 1px 10px var(--black);
    color: var(--white);
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}
body{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
form > span{
    margin: 20px 0;
}
.input-field{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.input-field input, .input-field textarea{
    width: 100%;
    margin-top: 20px;
}
.input-field textarea{
    min-height: 150px;
}
.input-field p{
    font-weight: bold;
}
.input-field span{
    color: var(--green);
}
.btn-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.input-field input[type="file"]{
    font-size: 0;
    padding: 0;
}
.input-field input[type="file"]::file-selector-button {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--white);
    font-size: 16px;
    padding: 0 12px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: var(--green); 
    background: -webkit-linear-gradient(to left, var(--green), var(--green-alt));
    background: linear-gradient(to left, var(--green), var(--green-alt));
}
.files{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--black);
}
.file-name {
    margin-right: 10px;
    color: var(--white);
    font-size: 12px;
}
.remove-file{
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-file svg{
    width: 20px;
    height: 20px;
    fill: var(--red)
}
.remove-file svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}