<body>
    <main [ngClass]="currentMode ? 'dark' : ''">
        <aside>
            <img src="../../../../assets/svg/workshop.svg" alt="workshop-svg">
        </aside>

        <form [formGroup]="workshopForm">
            <h3>Editar taller</h3>

            <span class="text">Ingresa la nueva informacion correspodiente al taller mecanico</span>

            <div class="input-field">
                <p class="text">Nombre del taller: <span> * </span> </p>
                <input type="text" name="nombre" class="input-form" formControlName="Nombre">
            </div>

            <div class="input-field">
                <p class="text">Responsable: <span> * </span> </p>
                <input type="text" name="responsable" class="input-form" formControlName="Nombre_Responsable">
            </div>

            <div class="input-field">
                <p class="text">Telefono: <span> * </span> </p>
                <input type="text" name="telefono" class="input-form" formControlName="Celular">
            </div>

            <div class="input-field">
                <p class="text">Telefono 2: </p>
                <input type="text" name="telefono2" class="input-form" formControlName="Celular2">
            </div>

            <div class="input-field">
                <p class="text">Direccion: <span> * </span> </p>
                <textarea name="direccion" cols="30" rows="10" formControlName="Direccion"></textarea>
            </div>

            <div class="input-field">
                <p class="text">Correo: <span> * </span> </p>
                <input type="text" name="correo" class="input-form" formControlName="Email">
            </div>

            <div class="input-field">
                <p class="text">Centro de trabajo: <span> * </span> </p>
                <input type="text" name="centro" class="input-form" formControlName="Zona">
            </div>

            <div class="input-field">
                <p class="text">Zona: <span> * </span> </p>
                <input type="text" name="zona" class="input-form" formControlName="Centro_Trabajo">
            </div>

            <div class="btn-options">
                <button class="btn-text-alt" (click)="backTable()">Cancelar</button>
                <button class="btn-text" (click)="sendForm()"> Guardar</button>
            </div>

        </form>
    </main>
</body>