.dark{
    color: var(--white);
    box-shadow:
    -5px -5px 15px var(--black),
    5px 5px 15px var(--black);
}
.dark ::ng-deep .mat-step{
    background-color: var(--dark);
}
.dark span{ font-weight: normal; color: var(--green-alt);}
.dark ::ng-deep .mat-step-header .mat-step-text-label{
    color: var(--green);
}

body{
    width: 100%;
    min-height: 90vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
main{
    width: 70%;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    box-shadow:
    -5px -5px 5px #aeaec040,
    5px 5px 5px #aeaec040;
}
.add{
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.edit{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.edit button{
    margin-right: 20px;
}
.details-vehicle{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.details-vehicle article{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
main h4{font-weight: bold;}
article span{
    font-weight: bold;
    margin-right: 4px;
}
article p{ text-align: start;}
article .detail{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
::ng-deep .mat-step-header .mat-step-text-label{
    color: var(--green);
    font-weight: bold;
}
::ng-deep .mat-step-header .mat-step-icon-selected { background-color: var(--green) !important;}
::ng-deep .mat-step-header { padding: 20px !important;}
::ng-deep .mat-vertical-content{padding: 0px 20px  !important;}
::ng-deep .mat-step-header .mat-step-icon { background-color: var(--black);}
::ng-deep .mat-stepper-vertical-line::before{ background-color: var(--green); width: 1px; transform: translateX(-4px);}
.time-line p{
    margin-bottom: 5px;
}
::ng-deep .mat-step-header .mat-step-text-label{font-size: 18px;}

.img-vehicle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.img-vehicle img{
    border-radius: 15px;
    object-fit: contain;
    width: 50%;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.time-line img{
    width: 60%;
}
.imgs{
    margin-top: 20px;
}
.finish{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.finish p{
    background-color: var(--green-alt);
    color: var(--black);
    padding: 4px;
    border-radius: 4px;
}

@media (min-width: 250px) and (max-width: 500px){
    main{width: 90%;}
    .details-vehicle{flex-direction: column;}
    .details-vehicle article{width: 100%;}
    article p{text-align: justify;}
    article .detail{flex-direction: column;}
    ::ng-deep .mat-step-header .mat-step-text-label{font-size: 14px;}
    .img-vehicle img{width: 100%; border-radius: 5px;}
}
@media (min-width: 501px) and (max-width: 700px){
    main{width: 90%;}
    .details-vehicle{flex-direction: column;}
    .details-vehicle article{width: 100%;}
    article p{text-align: justify;}
    article span{min-width: 32%;}
    ::ng-deep .mat-step-header .mat-step-text-label{font-size: 16px;}
    .img-vehicle img{width: 80%; border-radius: 5px;}
}
@media (min-width: 701px) and (max-width: 900px){
    main{width: 80%;}
    .details-vehicle{flex-direction: column;}
    .details-vehicle article{width: 100%;}
    article p{text-align: justify;}
    article span{min-width: 30%;}
    ::ng-deep .mat-step-header .mat-step-text-label{font-size: 16px;}
    .img-vehicle img{width: 70%; border-radius: 5px;}
}
@media (min-width: 901px) and (max-width: 1100px){
    main{width: 90%;}
    .img-vehicle img{width: 60%; border-radius: 5px;}
}
@media (min-width: 1101px) and (max-width: 1300px){
    main{width: 80%;}
}
@media (min-width: 1301px) and (max-width: 1500px){
    main{width: 70%;}
}
@media (min-width: 1501px){
    article span{min-width: 35%;}
}