<body>
    <main [ngClass]="currentMode ? 'dark' : ''" *ngFor="let repair of vehicleData; let i = index;">
        <h3>
            {{vehicleData[0]?.Marca_Chasis}}
            {{vehicleData[0]?.Submarca_Chasis}}
            {{vehicleData[0]?.Modelo_Chasis}}
        </h3>

        <div class="details-vehicle">
            <article>
                <div class="detail">
                    <span class="text">Fecha ingreso:</span>
                    <p class="text" *ngIf="repairData?.Fecha_Taller === null">Sin asignar</p>
                    <p class="text" *ngIf="repairData?.Fecha_Taller !== null"> 
                        {{repairData?.Fecha_Taller[0]}}
                        {{repairData?.Fecha_Taller[1]}}
                        -
                        {{repairData?.Fecha_Taller[3]}}
                        {{repairData?.Fecha_Taller[4]}}
                        -
                        {{repairData?.Fecha_Taller[6]}}
                        {{repairData?.Fecha_Taller[7]}}
                        {{repairData?.Fecha_Taller[8]}}
                        {{repairData?.Fecha_Taller[9]}}
                    </p>
                </div>
                <div class="detail">
                    <span class="text">Presupuesto inicial:</span>
                    <p class="text"> ${{repairData?.Presupuesto_Inicial}} </p>
                </div>
                <div class="detail">
                    <span class="text">Dias descanso:</span>
                    <p class="text">{{vehicleData[0]?.Dias_Descanso}}</p>
                </div>
                <div class="detail">
                    <span class="text">Placas vehiculo:</span>
                    <p class="text">{{vehicleData[0]?.Placas_Vehiculo}}</p>
                </div>
                <div class="detail">
                    <span class="text">Encargado:</span>
                    <p class="text"> {{vehicleData[0]?.Nombre_Resguardante}} </p>
                </div>
                <div class="detail">
                    <span class="text">Departamento:</span>
                    <p class="text"> {{vehicleData[0]?.Departamento_Vehiculo}} </p>
                </div>
            </article>

            <article>
                <div class="detail">
                    <span class="text">Fecha entrega:</span>
                    <p class="text" *ngIf="repairData?.Fecha_Entrega === null">Sin asignar</p>
                    <p class="text" *ngIf="repairData?.Fecha_Entrega !== null">
                        {{repairData?.Fecha_Entrega[0]}}
                        {{repairData?.Fecha_Entrega[1]}}
                        -
                        {{repairData?.Fecha_Entrega[3]}}
                        {{repairData?.Fecha_Entrega[4]}}
                        -
                        {{repairData?.Fecha_Entrega[6]}}
                        {{repairData?.Fecha_Entrega[7]}}
                        {{repairData?.Fecha_Entrega[8]}}
                        {{repairData?.Fecha_Entrega[9]}}
                    </p>
                </div>
                <div class="detail">
                    <span class="text">Presupuesto final:</span>
                    <p class="text"> ${{repairData?.Presupuesto_Final}}  </p>
                </div>
                <div class="detail">
                    <span class="text">Telefono encargado:</span>
                    <p class="text">{{vehicleData[0]?.Telefono_Encargado}}</p>
                </div>
                <div class="detail">
                    <span class="text">Tipo vehiculo:</span>
                    <p class="text">{{vehicleData[0]?.Tipo_Chasis}}</p>
                </div>
                <div class="detail">
                    <span class="text">RPE Encargado:</span>
                    <p class="text"> {{vehicleData[0]?.RPE_Resguardante}} </p>
                </div>
                <div class="detail">
                    <span class="text">Diagnostico: </span>
                    <p class="text">
                        {{repairData?.Diagnostico_Previo}}
                    </p>
                </div>
            </article>
        </div>

        <div class="edit" *ngIf="userType === 'Taller'">
            <button class="btn-text-alt" (click)="confirmArrival(repairData._id)" *ngIf="repairData?.Fecha_Taller === null">
                Confirmar llegada
            </button>

            <button class="btn-text" (click)="openForm()">Editar</button>
        </div>

        <h4>Historial</h4>

        <div class="add" *ngIf="userType === 'Taller'">
            <button class="btn-text" (click)="addStep()">Agregar etapa</button>
        </div>
        
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper class="custom-stepper" >
            <mat-step *ngFor="let step of repairData.Etapa_Reparacion; let i = index;" [completed]="false">
                <form>
                    <ng-template matStepLabel class="text">
                        {{step?.Titulo_Etapa}}
                    </ng-template>
        
                    <div class="time-line">
                        <p class="text">{{step?.Descripcion_Etapa}}</p>
                        <p class="text">{{step?.Fecha_Etapa}}</p>
                        
                        <!-- Iterar sobre las imágenes de la etapa actual -->
                        <div *ngFor="let etapaImage of filesData.etapaImages[i]?.images">
                            <img 
                                src="http://localhost:3900/api/v1/cfe/uploads/{{repairData?.Carpeta_Documentos}}/reparacion{{repairData?.Fecha}}/{{filesData.etapaImages[i]?.etapaFolder}}/{{etapaImage}}" 
                                alt="etapa-image">
                        </div>

                    </div>
                </form>
            </mat-step>
        </mat-stepper>

        <div class="finish" *ngIf="userType === 'Administrador'">
            <button class="btn-text" (click)="confirmRepair(repairData?._id, repairData?.Id_Vehiculo)" *ngIf="repairData.Estatus !== 'Concluida'" >
                Finalizar reparacion
            </button>
            <p *ngIf="repairData.Estatus === 'Concluida'" class="text">Reparacion terminada</p>
        </div>

        <!-- <h4 class="imgs">Imagenes vehiculo</h4>
        

        <div class="img-vehicle" *ngFor="let publicationImage of filesData.publicationImages; let j = index;">
            <img 
                src="http://localhost:3900/api/v1/cfe/uploads/{{repairData?.Carpeta_Documentos}}/reparacion{{repairData?.Fecha}}/{{publicationImage}}" 
                alt="vehicle-img">
        </div> -->

    </main>
</body>